<!-- <app-first></app-first> -->
 <!-- <app-first></app-first> -->

 <!-- use " '  '   " to attach a string to the variableS -->
<!-- <app-first [IamAnInputToThisComponent]="'Hahahaha'" [About]="'I am HAHHAHAHAHAHAH'"  [Work]="'I love coding'"></app-first> 
<app-first [IamAnInputToThisComponent]="'Hihihiii'" [About]="'I am HIHIHIHIHIHIIH'" [Work]="'I love to work'"></app-first> -->

<!-- <app-calculator></app-calculator> -->

<!-- <app-second></app-second> -->

<!-- <app-main></app-main> -->

<!-- <h1>{{sum}} Yosh Ninjas</h1> -->
<!-- <button (click)="sample_function()">Show sum </button> -->
<!-- <br>
<input type="number" #num1>
<input type="number" #num2>
<button (click)="add_two_numbers(num1.value, num2.value)">SUM</button> -->


<!-- <input type="text" #name1>
<input type="text" #name2> -->

<app-calc></app-calc>